.card.card-custom > .card-image {
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 182px;
    height: 182px;
    margin: 0 auto;
}

.card.card-custom > .card-image img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}